@import './general';
#feature{
  padding:0px 20px 78px 20px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  .feature-item{
    padding-top: 60px;
    display: flex;
    flex-direction: column-reverse;

    @include OverTab{
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      padding-top: 105px;
    }

    &:nth-child(even){


      @include OverTab{
        flex-direction: row;
      }
     
      // justify-content: flex-start;
    }


    .text{
      text-align: center;
      padding-bottom: 22px;

      @include OverTab{
      padding-top: 22px;
      text-align: left;
     
      }

      &.second{
        // これはフレックスぽっくすで対応
       @include smallTab{
        box-sizing: border-box;
        padding-left:20px;
       }
      
      }

      h2{
        font-size:24px;
        line-height: 62px;
        padding-bottom: 30px;

        @include smallTab{
          font-size: 28px;
          
        }
        @include ssOverTab{
          font-size: 36px;
          padding-bottom: 75px;
        }
        

      }
      
      p{
        font-size:16px;
        line-height: 32px;
        padding-bottom: 30px;

        @include OverTab{
          padding-bottom: 75px;
        }
      }

      .detail-btn{
        display: inline-block;
        a{
          font-size: 16px;
          padding:20px 44px;
          display: block;
          border: 1px solid black;
          color:black;
        }

      }
    }

    .image{
      text-align: center;
      padding-bottom: 10px;
      
      @include OverTab{
      padding-right: 80px;
      padding-bottom: 0px;
      
      @include ssOverTab{
        padding-right: 135px;
      }

      &.second{
        padding-right: 0px;
        padding-left: 80px;

        @include ssOverTab{
          padding-right: 135px;
        }
      }

    }

      img{
        max-width: 1050px;
        width: 90%;
        max-height: 545px;
        @include OverTab{
          width: 100%;
        }
      }
      
    }
  }
}