@import "../fundation/general";

button.nav-btn{
  width:35px;
  // 存在を消す
  appearance: none;
  outline: none;
  font:inherit;
  border: none;
  background-color: transparent;

  @include midTab{
    display: none;
  }

  span{
    display: block;
    background-color: #000;
    height: 2px;
    width: 100%;
    margin-bottom: 9px;
    transition: transform 0.5s ease;

    &.span{
      background-color:#FFFFFF ;
    }

    &:last-child{
      margin-bottom: 0px;
      // transform: rotate(0deg);
    }

  }


  // JS作動時
  &.-active{

    &>span{
      display: block;
      transition: transform 0.5s ease;
  
      &:nth-child(1){
       transform:translateY(11px) rotate(45deg);
      }
      &:nth-child(2){
        transform: translateX(-18px) scale(0);
      }
      &:nth-child(3){
        transform:translateY(-11px) rotate(-45deg);
      }
    }

  }

  
}
